/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/* Este archivo se ubica en /etc/xdg/waybar*/

/* Anything */
* {
  font-family: DepartureMono Nerd Font, monospace;
  font-size: 13px;
  font-weight: bolder;
  color: #e6f2ff;
  text-shadow: 0 0 1px #e6f2ff, 0 0 3px #e6f2ff;
  animation: pulse 3s ease-in-out infinite;
}

@keyframes pulse {
  0%   { color: #e6f2ff; }
  50%  { color: #9dafbf; text-shadow: none;}
  100% { color: #e6f2ff; }
}

@keyframes flicker {
  0%   { opacity: 1; }
  19%  { opacity: 1; }
  21%  { opacity: 1; }
  23%  { opacity: 1; }
  25%  { opacity: 1; }
  54%  { opacity: 1; }
  56%  { opacity: 1; }
  100% { opacity: 1; }

  20%  { opacity: 0.9; }
  24%  { opacity: 0.8; }
  55%  { opacity: 0.9; }
}

/* Window (container) */
window {
  animation: flicker 2s infinite;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #b5e65c;
    /*border-bottom: 2px ridge #e6f2ff;*/
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.termite {
    background-color: #000000;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* Workspaces */
.modules-left > widget:first-child > #workspaces {
    padding-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
}

/*#workspaces button:hover {
}*/

/* Button */
button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* Components */
#custom-power,
#cpu,
#memory,
#backlight,
#pulseaudio,
#battery,
#disk,
#temperature,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-media,
#battery,
#wireplumber,
#language,
#network,
#clock
{
    margin: 5px 5px;
}

#network.disconnected {
    color: #9dafbf;
    text-shadow: none;
}

#pulseaudio.muted {
    color: #9dafbf;
    text-shadow: none;
}

#wireplumber.muted {
    color: #9dafbf;
    text-shadow: none;
}

#battery.critical:not(.charging) {
    color: #9dafbf;
    text-shadow: none;
}
