/*-----All Colors--------*/

@define-color background #fcfaed;

@define-color error #ba1a1a;

@define-color error_container #ffdad6;

@define-color inverse_on_surface #f3f1e4;

@define-color inverse_primary #c3cd7b;

@define-color inverse_surface #303128;

@define-color on_background #1b1c14;

@define-color on_error #ffffff;

@define-color on_error_container #410002;

@define-color on_primary #ffffff;

@define-color on_primary_container #1a1e00;

@define-color on_primary_fixed #1a1e00;

@define-color on_primary_fixed_variant #434b05;

@define-color on_secondary #ffffff;

@define-color on_secondary_container #1a1d07;

@define-color on_secondary_fixed #1a1d07;

@define-color on_secondary_fixed_variant #46492f;

@define-color on_surface #1b1c14;

@define-color on_surface_variant #47483b;

@define-color on_tertiary #ffffff;

@define-color on_tertiary_container #002019;

@define-color on_tertiary_fixed #002019;

@define-color on_tertiary_fixed_variant #224e43;

@define-color outline #78786a;

@define-color outline_variant #c8c7b7;

@define-color primary #5b631e;

@define-color primary_container #dfe995;

@define-color primary_fixed #dfe995;

@define-color primary_fixed_dim #c3cd7b;

@define-color scrim #000000;

@define-color secondary #5e6144;

@define-color secondary_container #e3e5c1;

@define-color secondary_fixed #e3e5c1;

@define-color secondary_fixed_dim #c7c9a7;

@define-color shadow #000000;

@define-color source_color #97a340;

@define-color surface #fcfaed;

@define-color surface_bright #fcfaed;

@define-color surface_container #f0eee1;

@define-color surface_container_high #eae9dc;

@define-color surface_container_highest #e5e3d6;

@define-color surface_container_low #f6f4e7;

@define-color surface_container_lowest #ffffff;

@define-color surface_dim #dcdace;

@define-color surface_tint #5b631e;

@define-color surface_variant #e4e3d2;

@define-color tertiary #3b665b;

@define-color tertiary_container #beecdd;

@define-color tertiary_fixed #beecdd;

@define-color tertiary_fixed_dim #a2d0c2;


/*-----Surface Transparent Background------*/
@define-color surface-alpha rgba(252, 250, 237, 0.5);
@define-color background rgba(252, 250, 237, 0.3);
